/* Main area sizes */

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    /* Overriding Bootstrap */
    line-height:18px;
}

/* Overriding Bootstrap */
.alert {
    font-size: 13px;
    line-height: 16px;
}

.btn-group>.btn-large {
    font-size: 15px;
}

.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.popover-title {
    font: bold 16px/20px helvetica;
}
.popover {
    border: 1px #CCC solid;
}

h1 {
    font-size: 30px;
    line-height: 36px;
    margin: 5px 0;
}

h2 {
    font-size: 24px;
    line-height: 36px;
}

h3 {
    font-size: 18px;
    line-height: 27px;
}

.form-horizontal input {
  vertical-align: baseline;
}

.form-horizontal {
  display: block;
}

.form-horizontal .control-group {
  vertical-align: top;
}

/* End of Bootstrap Overriding */

.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    max-width: 960px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.subnav .nav {
    margin-bottom : 10px;
    margin-top : 2px;
}

.alert.alert-info,
.alert.alert-error,
.alert.alert-block {
    margin-bottom : 0px;
    height : 16px;
}

.well {
    margin : 10px;
}

/* Headers, navbars and footers */

.right-arrow {
    vertical-align: middle;
    margin-top: 10px;
}

.title-label {
    color: white;
}

.footer {
    margin-top: 30px;
    padding: 25px 0 36px;
    border-top: 1px solid #E5E5E5;
}

.subnav-right-btn {
    float: left;
}

.btn-group.subnav-right-btn > .btn-large.dropdown-toggle {
    padding-right : 13px;
    padding-left : 13px;
}

.btn-group.subnav-right-btn > .btn-large.dropdown-toggle.dropdown-caret {
  padding-right: 9px;
  padding-left: 9px;
}

button.btn.btn-large {
    padding-top: 8px;
    padding-bottom: 9px;
    height: 38px;
}

/* Loading logos */

.loading {
    position: fixed;
    top: 45%;
    left: 48%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    border-radius: 5px;
    z-index: 2010;
    background-color: black;
}

.blocker {
    opacity: 0;
    z-index: 2000;
}

.loading-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    width: 40px;
    height: 40px;
    opacity: 0.35;
}

/* Tables and post areas */

.board-table-center th,
td.board-table-center {
    text-align: center;
}

.display-area {
    width: 100%;
}

pre.mail-view-area,
pre.post-view-area {
    padding : 0px;
    border : 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px; 
    min-height: 380px;
    /* Overriding Bootstrap */
    font-size: 13px;
    line-height: 13px;
}

pre.post-view-area {
    font-family: RowellaSans, monospace;
}

tr.board-entry,
tr.post-entry,
tr.folder-entry,
tr.mail-entry {
    cursor: pointer;
}

table.table,
.table td,
.table th {
    border-left : none;
    border-right : none;
}

.table-striped tbody tr.marked-post-entry td{
  background-color: #C5F2FF;
}

.table tbody tr.marked-post-entry:hover td {
  background-color: #C0EAFD;
}

.table-striped tbody tr.sticky td{
  background-color: #F8FBB5;
}

.table tbody tr.sticky:hover td {
  background-color: #F0F5B0;
}

td.post-title-td {
  display: block;
  position: relative;
}

.mini-bar {
  display: block;
  position: absolute;
  right: 8px;
  top: 4px;
  width: 210px;
  opacity: 0.8;
}

.mini-bar-dot {
  display: block;
  border-radius: 9px;
  height: 18px;
  width: 18px;
  background-color: #BBB;
  float: right;
  margin: 5px 0 5px 7px;
}

.mini-bar-ul {
  display: block;
  list-style: none;
  float: right;
}

.mini-bar-li {
  display: list-item;  
  float: right;
  padding-left: 5px;
}

.new-post-mark {
    padding-left : 7px;
    padding-right: 7px;
}

.post-mark {
    margin-left : 10px;
}

.post-mark-g {
    padding-left : 6px;
    padding-right: 6px; 
}

.post-mark-m {
    padding-left : 5px;
    padding-right: 5px; 
}

.table th,
.table td {
    padding : 7px;
}

img.attach-logo {
    margin-left : 10px;
    width : 15px;
    height : 15px;
}

.pic-attach-area,
.other-attach-area {
    margin-top : 40px;
}

.other-attach-area > div.well {
    width : 30%;
    padding-top : 10px;
    padding-bottom : 10px; 
    background-color : #E3E3E3;
}

/* Bottom button bars */

.button-bar {
    text-align: center;
    margin-bottom : 15px;
}

.top-button-bar {
    margin-top : -5px;
}

.prev-mail-button,
.next-mail-button {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

#board-buttons.button-bar {
    margin-left : 120px;
}

#post-buttons.button-bar {
    margin-left : 60px;
}

.button-bar .short-text {
    width : 40px;
}

.jump-to-post,
.jump-to-mail {
    margin-left : 20px;
}

.st-nav-menu {
    margin-left : 30px;
}

.st-nav-menu .dropdown-menu {
    min-width : 100px;
}

/* Notification bar */

p#notification-content {
    margin: 0px;
}

/* Write post window */

#write-post-title {
    width : 560px;
    margin-left : 12px;
}

#write-post-content {
    margin-left : 12px;
    width : 560px;
    height : 260px;
    resize : none;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
}

.write-post-option {
    margin-top : 8px;
    padding-left : 50px;
}

.write-post-option #qmd-number {
    width : 30px;
}

#write-post-panel {
  width: 678px;
  top: 9%;
  left: 48%;
}

#write-post-panel .modal-body {
    height : 420px;
    max-height : 420px;
    width : 645px;
}

.attach-area {
    background-color : #F5F5F5;
    border-radius: 5px;
    border: thin dashed #999999;
    min-height: 70px;
    margin-top : -3px;
    margin-left : 50px;
    margin-bottom : 15px;
    padding: 10px 5px 10px 10px;
}

.file-list {
    margin-top: 20px;
    margin-left: 10px;
    list-style-type: none;
}

.file-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
}

.add-file-button {
    margin-right: 10px;
}

.drag-file-note {
    padding-top: 5px;
    padding-left: 5px;
}

.file-wrapper > * {
    display: inline-block;
}

.file-wrapper > .close.cancel-button {
    margin-right: 20px;
}

.file-upload-progress {
    width: 250px;
    vertical-align: middle;
    margin-left:  5px;
    margin-right: 5px;
    margin-bottom: 0;
}

.filename-area {
    width: 120px;
    margin-left: 2px;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.file-upload-text {
    margin-left: 5px;
    margin-right: 5px;
}

.anony-checkbox {
    vertical-align : baseline;
}

#write-post-panel label {
    display: inline;
}

.short-text {
    display: inline;
    vertical-align : baseline;
    width : 30px;
}

.radiobox {
    display: inline;
    margin-left : 10px;
    vertical-align : baseline;
}

input[type="file"].fileuploadbox {
    position: absolute;
    top: 0;
    right: 0;
    border: solid transparent;
    width : 100px;
    opacity: 0;
    direction: ltr;
    cursor: pointer;
}

.fileinput-button {
    position : relative;
    cursor: pointer;
}

.no-add-attach-area,
.no-anonymous-area {
    color   : red;
}

.upload-failed-area {
    color   : red;
    margin-left : 20px;
}

.left-pad-text {
    margin-left : 30px;
}

.xmpp-panel-handle {
  top: 45%;
  left: 0px;
  position: absolute;
  width: 18px;
  z-index: 1;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
/*  overflow: hidden;*/
/*  border: 1px solid green;*/
/*  background: lightblue;*/
/*  text-align: center;*/
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.xmpp-panel-main {
  height: 95%;
  left: 30px;
  position: absolute;
  background: #F0F0F0;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 4px 0px 0px 4px;
}

.xmpp-user-list {
}

.xmpp-panel {
  top: 120px;
  position: fixed;
  height: 80%;
  width: 270px;
  right: 0px;
}

.xmpp-user-status {
    white-space:nowrap;
}

.xmpp-user-show {
  width: 16px;
  margin-right: 5px;
  height: 16px;
  border-radius: 8px;
  overflow: hidden;
}

.xmpp-user:hover {
  background: lightblue;
}

.xmpp-user {
/*  width: 225px; */
  position: relative;
  overflow: hidden;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.xmpp-chat {
  position: fixed;
  bottom: 0px;
  height: 300px;
  border: 1px solid lightgray;
/*  padding: 5px;*/
  width: 200px;
  background: white;
  opacity: 0.95;
/*  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);*/
  border-radius: 6px 6px 0px 0px;
  box-shadow: 0 0 5px 0 gray;
  z-index: 3;
}

.xmpp-chat-text {
  height: 240px;
  padding: 5px;
  width: 190px;
  border: 0px;
  overflow: auto;
  padding-bottom: 10px;
  background: #F0F0F6;
  font-size: 13px;
}

.xmpp-chat-text-mine {
}

.xmpp-chat-text-other {
  font-weight: bold;
}

.xmpp-chat-input {
  height: 20px;
  padding: 0px;
  width: 100%;
  left: 0px;
  position: absolute;
  bottom: 0px;
  border: 0px solid lightgray;
  margin-bottom: 0px;
  resize: none;
}

.xmpp-chat-title {
  height: 25px;
  cursor: pointer;
  background: rgb(91, 191, 222);
}

.xmpp-chat-title-text {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.xmpp-chat-title-close {
  position: absolute;
  right: 0px;
  margin: 1px;
  padding: 4px !important;
  width: 20px;
  top: 0px;
}

.xmpp-chat-title-min {
  position: absolute;
  right: 21px;
  margin: 1px;
  width: 20px;
  padding: 4px !important;
  top: 0px;
}

.xmpp-loading {
    position: absolute;
/*    left: 60px;
    top: 40%;*/
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(0,0,0);
    background: rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 3px;
}

.xmpp-loading-img {
/*    background: black;
    border-radius: 15px;
    height: 80px;
    width: 80px;*/
    top: 100px;
    position: absolute;
    left: 100px;
    opacity: 0.6;
    width: 40px;
}

.xmpp-loading-text {
    margin-top: 80px;
    width: 250px;
    text-align: center;
    position: absolute;
    top: 100px;
    color: white;
    font-size: 14px;
}

.xmpp-main-title {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  background: lightgray;
}

.xmpp-panel-main {
  box-shadow: 0 0 5px 0 gray;
}

.xmpp-main-content {
  overflow: auto;
}

.xmpp-show-online {
    background: #5BB75B;
}

.xmpp-show-chat {
    background: #5BB75B;
}

.xmpp-show-dnd {
    background: #DA4F49;
}

.xmpp-show-away {
    background: #F89406;
}

.xmpp-show-xa {
    background: #FBB450;
}

.xmpp-show-default {
    background: #5BC0DE;
}

/* Widgets */

.unread-area {
  background-color: red;
  display: block;
  position: absolute;
}

.unread-area.small {
  border-radius: 4px;
  width: 8px;
  height: 8px;
  right: 8px;
  top: 10px;
}

.unread-area.medium {
  border-radius: 5px;
  width: 10px;
  height: 10px;
  right: 10px;
  top: 13px;
}

.unread-area.large {
  border-radius: 6px;
  width: 12px;
  height: 12px;
  right: 12px;
  top: 16px;
}

.unread-inside {
  display: block;
  position: relative;
}

.ctrbtr-list-panel {
    padding: 0 10px 5px 10px;
}

.github-author-container {
    display: inline-block;
    padding: 5px;
    min-width: 160px;
}

.github-avatar-container {
    display: inline-block;
}

.github-avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #CCC;
}

.github-name-container {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
}

.user-profile-topPanel {
    border-bottom: solid 1px #DDD;
    padding-bottom: 7px;
}

.user-profile-bottomPanel {
    padding-top: 5px;
    font-size: 13px;
}

.user-profile-avatar-container {
    display: inline-block;
}

.user-profile-avatar {
    display: block;
    width: 28px;
    height: 28px;
    font: bold 38px Arial;
    color: white;
    border-radius: 15px;
    padding: 11px;
    line-height: 0.8em;
}

.user-profile-avatar.initial-A,
.user-profile-avatar.initial-F,
.user-profile-avatar.initial-K,
.user-profile-avatar.initial-P,
.user-profile-avatar.initial-U,
.user-profile-avatar.initial-Z {
    background-color: #BF73CF;
}

.user-profile-avatar.initial-B,
.user-profile-avatar.initial-G,
.user-profile-avatar.initial-L,
.user-profile-avatar.initial-Q,
.user-profile-avatar.initial-V {
    background-color: #CB7872;
}

.user-profile-avatar.initial-C,
.user-profile-avatar.initial-H,
.user-profile-avatar.initial-M,
.user-profile-avatar.initial-R,
.user-profile-avatar.initial-W {
    background-color: #4BD55B;
}

.user-profile-avatar.initial-D,
.user-profile-avatar.initial-I,
.user-profile-avatar.initial-N,
.user-profile-avatar.initial-S,
.user-profile-avatar.initial-X {
    background-color: #D96881;
}

.user-profile-avatar.initial-E,
.user-profile-avatar.initial-J,
.user-profile-avatar.initial-O,
.user-profile-avatar.initial-T,
.user-profile-avatar.initial-Y {
    background-color: #996CD2;
}

.user-profile-id {
    font: 25px Arial;
    color: #666;
    letter-spacing: 0.04em;
}

.user-profile-nickPanel {
    margin-top: -2px;
}

.user-profile-nick {
    font-size: 14px;
    color: #999;
    display: block;
    overflow-x: hidden;
    white-space: nowrap;
}

.user-profile-idAndNick {
    display: inline-block;
    padding: 2px 0 2px 12px;
    vertical-align: bottom;
}

.user-profile-container {
    min-width: 225px;
    height: 120px;
}

.user-profile-statPanel {
    display: inline-block;
    min-width: 110px;
}

.user-profile-allstats {
    color: #666;
    width: 225px;
}

.user-profile-lastLogin {
    font-size: 11px;
    font-family: Arial;
    color: #BBB;
    margin-top: 3px;
    display: block;
}

.user-profile-anchor:not(:first-child) {
    margin-left: 5px;
};
