/* Main area sizes */

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    max-width: 960px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.subnav .nav {
    margin-bottom : 10px;
    margin-top : 2px;
}

.alert.alert-info {
    margin-bottom : 0px;
    height : 16px;
}

.well {
    margin : 10px;
}

/* Headers, navbars and footers */

.right-arrow {
    vertical-align: middle;
    margin-top: 10px;
}

.title-label {
    color: white;
}

.footer {
    margin-top: 30px;
    padding: 25px 0 36px;
    border-top: 1px solid #E5E5E5;
}

.subnav-right-btn {
    float: left;
}

.btn-group.subnav-right-btn > .btn-large.dropdown-toggle {
    padding-right : 13px;
    padding-left : 13px;
}

.btn-group.subnav-right-btn > .btn-large.dropdown-toggle.dropdown-caret {
  padding-right: 9px;
  padding-left: 9px;
}

button.btn.btn-large {
    padding-top: 8px;
    padding-bottom: 9px;
    height: 38px;
}

/* Loading logos */

.loading {
    position: fixed;
    top: 45%;
    left: 48%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    border-radius: 5px;
    z-index: 2010;
    background-color: black;
}

.blocker {
    opacity: 0;
    z-index: 2000;
}

.loading-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    width: 40px;
    height: 40px;
    opacity: 0.35;
}

/* Tables and post areas */

.board-table-center th,
td.board-table-center {
    text-align: center;
}

.display-area {
    width: 100%;
}

pre.mail-view-area,
pre.post-view-area {
    padding : 0px;
    border : 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px; 
    min-height: 380px;
}

tr.board-entry,
tr.post-entry,
tr.folder-entry,
tr.mail-entry {
    cursor: pointer;
}

.table-striped tbody tr.marked-post-entry td{
  background-color: #BFE8FF;
}

.table tbody tr.marked-post-entry:hover td {
  background-color: #BAE3FA;
}

.table-striped tbody tr.sticky td{
  background-color: #F0F3A5;
}

.table tbody tr.sticky:hover td {
  background-color: #EAEEA0;
}

.new-post-mark {
    padding-left : 7px;
    padding-right: 7px;
}

.post-mark {
    margin-left : 10px;
}

.post-mark-g {
    padding-left : 6px;
    padding-right: 6px; 
}

.post-mark-m {
    padding-left : 5px;
    padding-right: 5px; 
}

.table th,
.table td {
    padding : 7px;
}

img.attach-logo {
    margin-left : 10px;
    width : 15px;
    height : 15px;
}

.pic-attach-area,
.other-attach-area {
    margin-top : 40px;
}

.other-attach-area > div.well {
    width : 30%;
    padding-top : 10px;
    padding-bottom : 10px; 
    background-color : #E3E3E3;
}

/* Bottom button bars */

.button-bar {
    text-align: center;
    margin-bottom : 15px;
}

.top-button-bar {
    margin-top : -5px;
}

.prev-mail-button,
.next-mail-button {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

#board-buttons.button-bar {
    margin-left : 120px;
}

#post-buttons.button-bar {
    margin-left : 60px;
}

.button-bar .short-text {
    width : 40px;
}

.jump-to-post,
.jump-to-mail {
    margin-left : 20px;
}

.st-nav-menu {
    margin-left : 30px;
}

.st-nav-menu .dropdown-menu {
    min-width : 100px;
}

/* Notification bar */

p#notification-content {
    margin: 0px;
}

/* Write post window */

#write-post-title {
    width : 560px;
    margin-left : 12px;
}

#write-post-content {
    margin-left : 12px;
    width : 560px;
    height : 260px;
    resize : none;
}

.write-post-option {
    margin-top : 8px;
    padding-left : 50px;
}

.write-post-option #qmd-number {
    width : 30px;
}


#write-post-panel {
    width: 668px;
}

#write-post-panel .modal-body {
    height : 408px;
    max-height : 408px;
    width : 638px;
}

.attach-area {
    background-color : #F5F5F5;
    border-radius: 5px;
    border: thin dashed #999999;
    width : 553px;
    margin-top : -3px;
    margin-left : 50px;
    margin-bottom : 15px;
    padding: 10px 5px 50px 10px;
}

.anony-checkbox {
    vertical-align : baseline;
}

#write-post-panel label {
    display: inline;
}

.short-text {
    display: inline;
    vertical-align : baseline;
    width : 30px;
}

.radiobox {
    display: inline;
    margin-left : 10px;
    vertical-align : baseline;
}

input[type="file"].fileuploadbox {
    position: absolute;
    top: 0;
    right: 0;
    border: solid transparent;
    width : 100px;
    opacity: 0;
    direction: ltr;
    cursor: pointer;
}

.fileinput-button {
    position : relative;
    cursor: pointer;
}

.no-add-attach-area,
.no-anonymous-area {
    color   : red;
}

.left-pad-text {
    margin-left : 30px;
}
